
                    </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer text-right">
                    2016 © SIG-CSTI - Collegialis<br>
                    Desenvolvedores: Sergio Campos e Antônio Palitot
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/collegialis/estatico/#">
                                <div class="avatar">
                                    <img src="/collegialis/estatico/images/user.jpg" alt="">
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>  
                </div>
            </div>
            <!-- /Right-bar -->


        </div>
        <!-- END wrapper -->
    
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/collegialis/estatico/js/jquery.min.js"></script>
        <script src="/collegialis/estatico/js/bootstrap.min.js"></script>
        <script src="/collegialis/estatico/js/waves.js"></script>
        <script src="/collegialis/estatico/js/wow.min.js"></script>
        <script src="/collegialis/estatico/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="/collegialis/estatico/js/jquery.scrollTo.min.js"></script>
        <script src="/collegialis/estatico/assets/jquery-detectmobile/detect.js"></script>
        <script src="/collegialis/estatico/assets/fastclick/fastclick.js"></script>
        <script src="/collegialis/estatico/assets/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="/collegialis/estatico/assets/jquery-blockui/jquery.blockUI.js"></script>


        <!-- CUSTOM JS -->
        <script src="/collegialis/estatico/js/jquery.app.js"></script>
	
	</body>
</html>